.AddAddress_Header {
	color: navy;
	letter-spacing: 1.5px;
	text-align: center;
	margin-top: 10px;
	font-size: 20px;
}

.Address_Street_Div,
.Address_City_Div,
.Address_State_Div,
.Address_Zip_Div,
.Address_Map_Div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 15px;
}

.AddAddress_Div {
	background-color: rgb(228, 248, 255);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
	border-radius: 10px;
	width: 380px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5px;
}

.Address_Street_Class,
.Address_City_Class,
.Address_State_Class,
.Address_Zip_Class,
.Address_Map_Class {
	margin-left: 10px;
	font-size: 16px;
	font-weight: bold;
}

.AddAddress_Input {
	margin-right: 10px;
}

.Add_NewAddress_Buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-bottom: 10px;
	margin-top: 20px;
}

.AddAddress_Cancel_Button,
.AddAddress_Submit_Button {
	background-color: azure;
	font-size: 14px;
	border-radius: 5px;
	color: rgb(255, 59, 59);
	font-weight: bold;
	border: 1px solid silver;
}
