.nav_bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(40deg, lightpink, rgb(0, 0, 196));
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
	min-width: 414px;
}

.nav_left {
	align-items: center;
	margin-left: 10px;
}

.nav_title {
	font-size: 16px;
	margin-left: 10px;
	margin-right: 10px;
	color: white;
	font-variant-caps: petite-caps;
}

.timeline_logo,
.address_logo {
	font-size: 25px;
	color: rgb(255, 86, 86);
	background-color: ghostwhite;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
}

.nav_logins {
	padding-right: 5px;
}

.nav_logo {
	display: contents;
}

.nav_left {
	display: flex;
}

.login_button,
.logout_button,
.join_button,
.about_button {
	background-color: azure;
	font-size: 10px;
	border-radius: 5px;
	color: rgb(255, 59, 59);
	font-weight: bold;
	border: 1px solid silver;
}

.login_button,
.about_button {
	margin-right: 10px;
}

.logout_button {
	margin-right: 5px;
	margin-left: 10px;
}

.join_button {
	margin-right: 2px;
}

@media all and (min-width: 700px) {
	.hero_home_link {
		font-size: 25px;
	}

	.login_button,
	.about_button,
	.logout_button,
	.join_button {
		font-size: 16px;
		margin-left: 40px;
		margin-right: 20px;
	}

	.nav_title {
		font-size: 20px;
	}
}
