.ContactBar {
	margin-top: 20px;
	display: flex;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	background: linear-gradient(40deg, rgb(255, 200, 151), orange);
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
	width: 400px;
}

input.Search_Contacts {
	margin-right: 25px;
	border-radius: 5px;
	border: 1px solid white;
	/* box-shadow: 1px 1px 5px 1px navy; */
}

.ContactBar_Button {
	background-color: azure;
	font-size: 12px;
	border-radius: 5px;
	color: rgb(255, 59, 59);
	font-weight: bold;
	border: 1px solid white;
	/* box-shadow: 1px 1px 5px 1px navy; */
}

@media all and (min-width: 700px) {
	.ContactBar {
		width: 550px;
	}

	.ContactBar_Button {
		font-size: 16px;
		border: 1px solid gold;
		padding: 5px;
		cursor: pointer;
	}

	input.Search_Contacts {
		font-size: 16px;
	}

	.ContactBar {
		padding: 15px;
		margin-top: 30px;
	}
}
