.ContactList_Header {
	text-align: center;
	font-size: 25px;
	font-family: arial;
	color: navy;
	text-shadow: 1px 1px lightcoral;
}

.ContactList {
	margin-bottom: 40px;
}

@media all and (min-width: 700px) {
	.Contact_Container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.ContactList {
		margin-left: auto;
		margin-right: auto;
	}

	.ContactList_Header {
		font-size: 35px;
	}

	.Contact_Items {
		width: 500px;
	}
}
