.ContactList_Header {
	text-align: center;
	font-size: 25px;
	color: navy;
}

.ContactList_List {
	padding-left: 0px;
}

.ContactList {
	margin-bottom: 40px;
}

@media all and (min-width: 700px) {
	.Contact_Container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.ContactList {
		margin-left: auto;
		margin-right: auto;
		padding-left: 200px;
		padding-right: 200px
	}

	.ContactList_Header {
		font-size: 35px;
	}
}
