.Profile_Contact_Item {
	margin-left: auto;
	margin-right: auto;
}

@media all and (min-width: 700px) {
	.Profile_Flex_Container {
		display: flex;
		margin-left: auto;
		margin-right: auto;
	}

	.ContactProfile {
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 100px;
	}
}
