.AddressBar {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	background: linear-gradient(40deg, rgb(255, 200, 151), orange);
	padding: 8px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
	width: 360px;
	margin-bottom: 20px;
}

.AddressBar_NewContact_Button,
.AddressBar_SendCard_Button {
	background-color: azure;
	font-size: 13px;
	border-radius: 5px;
	color: rgb(255, 59, 59);
	font-weight: bold;
	border: 1px solid silver;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.AddressBar_SendCard_Button {
	margin-left: 30px;
}

@media all and (min-width: 700px) {
	.AddressBar_NewContact_Button,
	.AddressBar_SendCard_Button {
		font-size: 16px;
	}

	.AddressBar {
		padding: 15px;
		width: 400px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
		margin-top: 30px;
	}
}
