.footer {
	background-color: lightblue;
	border: 2px solid lightslategrey;
	margin-top: 25px;
}

.footer_brand-container {
	text-align: center;
}

.copyright-text {
	font-family: system-ui;
	font-size: 13px;
}

.github {
	color: ghostwhite;
	margin-right: 8px;
}

.linkedin {
	color: ghostwhite;
}

.footer_social-media {
	padding-top: 2px;
}

.copyright_paragraph {
	margin-bottom: 5px;
	margin-top: 5px;
	color: ghostwhite;
	text-shadow: 1px 1px black;
}

.github_logo {
	margin-right: 12px;
	font-size: 20px;
}

.linkedin_logo {
	font-size: 20px;
}

@media all and (min-width: 700px) {
	.copyright_paragraph {
		font-size: 18px;
	}

	.github_logo,
	.linkedin_logo {
		font-size: 25px;
	}
}
